/.idea
/.vscode
/node_modules
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
/php
.DS_Store
.env
.env.backup
.env.md5
.phpunit.result.cache
.php_cs.cache
npm-debug.log
yarn-error.log
Launcher.exe
Launcher.exe.config
